@font-face {
	font-family: adlery-blockletter;
	src: url(Typo/adlery-pro-blockletter-trial.ttf);
	font-display: block;
}
@font-face {
	font-family: soustitre;
	src: url(Typo/the-seasons.otf);
	font-display: block;
}

*,
:before,
:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e8ddd4;
	font-size: 62.5%;
}

/* Header Start */
header {
  display: flex;
  align-items: center;
  justify-content: center;
	position: sticky;
	background: #fef5ec;
	width: 100%;
	height: 120px;
}

.logo {
	width: 100px;
  height: 100px;
	margin: auto;
}

/* Nav Bar Start */
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	position: absolute;
	top: -300px;
	width: 100%;
	height: 0;
	background: #fef5ec;
	opacity: 80%;
	font-size: 1.5em;
	transition: height 0.5s ease-out;
}

nav a {
	color: #7900d1;
}

nav a:hover {
	color: #d097ff;
}

.open {
	top: 0;
	height: 100svh;
	transition: height 0.5s ease-in;
}

.button-burger {
	display: flex;
	align-content: start;
	justify-content: end;
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.burger-image {
	width: 40px;
	height: 40px;
	margin: 20px;
}

.reseau-sociaux {
	display: none;
}

/* Nav Bar End */

/* Hero Section Start */
.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	background-image: url(Images/alliance.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	padding: 20px;
	font-family: "titre h1", serif;
	font-size: 4.6em;
	text-align: center;
}

.hero-section p {
	padding-bottom: 20px;
	font-size: 2em;
	max-width: 350px;
	width: 220px;
	text-align: center;
}
.reseau-sociaux-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	max-width: 200px;
	padding-bottom: 10px;
}

.reseau-sociaux-mobile img {
	height: 30px;
  width: 30px;
}
/* Hero Section End */
/* Header End */

/* Main Start */
p {
	font-size: 1.55em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

h2 {
	font-family: adlery-blockletter, serif;
	font-size: 2.55em;
	text-align: center;
	padding: 20px 0;
}

h3 {
	color: #7900d1;
	font-size: 2.55em;
}

/* Card Prestations  */
.tarif {
	font-family: titre, serif;
}

.tarif-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 20px 0;
	margin: auto;
}
.tarif-title,
.details-prestation {
	font-family: adlery-blockletter, serif, sans-serif;
}

.tarif {
	display: flex;
	gap: 10px;
}

.tarif-content a {
	border: solid 1px #7900d1;
	padding: 10px;
	border-radius: 5px;
	font-size: 2em;
	color: #7900d1;
	font-family: adlery-blockletter, serif, sans-serif;
	cursor: pointer;
}

.tarif-content a:hover {
	color: #fff;
	border: solid 1px #7900d1;
	background-color: #7900d1;
}
/* Main End */

/* Responsive */

@media screen and (min-width: 1000px) {
	.burger-image {
		display: none;
	}

	.reseau-sociaux {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		width: 200px;
    
	}

	.reseau-sociaux-mobile {
		display: none;
	}
	.reseau-sociaux img {
		height: 50px;
    width: 50px;
	}

	header {
		display: grid;
		grid-template-columns: 150px 1fr 200px;
		grid-column-gap: 10px;
		grid-row-gap: 20px;
		justify-items: stretch;
		align-items: stretch;
		height: 150px;
	}

	nav {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 60px;
		position: relative;
		top: 0;
		width: 100%;
		height: 150px;
		font-size: 1.5em;
	}

	.hero-section {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 500px;
	}

	h1 {
		font-size: 6em;
		padding-bottom: 30px;
	}

	.hero-section p {
		font-size: 2.5em;
	}
}
