main {
	max-width: 1080px;
	margin: auto;
}

.text-content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 20px;
	text-align: justify;
	width: 350px;
	margin: auto;
}

.birthday-picture{
  min-width: 300;
  min-height: 449;
}
.birthday-picture,
.tarif-content {
	border: solid 6px white;
}

.tarif-content {
	width: 350px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

@media screen and (min-width: 950px) {
	.content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin: 30px auto;
	}
  .text-content {
    margin: 0;
  }
}
