main {
	max-width: 950px;
  margin: auto;
}

.text-content p {
	text-align: justify;
	max-width: 350px;
}

.birthday-picture,
.tarif-content {
	border: solid 6px white;
  max-width: 350px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
