main {
	max-width: 1080px;
	margin: auto;
}

.text-content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 20px;
	text-align: justify;
	width: 350px;
	margin: auto;
}

.tarif-content {
	border: solid 6px white;
}

.tarif-content {
	width: 400px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.birthday-picture-content {
	width: 350px;
	height: 524px;
	border: solid 6px white;
	box-sizing: content-box;
}

.birthday-picture {
	width: 350px;
	height: 524px;
}

@media screen and (min-width: 950px) {
	.content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin: 30px auto;
	}
	.text-content {
		margin: 0;
	}
}
